################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CachingTechniques-master
/Sample-Direct-master/Sample-Direct-master
/CQRSTraining/CQRSTraining
